<template>
	<a href="#detalle-carrito-anchor">
		<div class="carrito">
			<div id="cart-icon">
				<div id="cart-icon-img"></div>
				<div id="cantidad-productos">{{ cantidad }}</div>
			</div>
		</div>
	</a>
</template>

<script>
export default {
	props: {
		cantidad: {
			type: Number
		}
	}
};
</script>

<style scoped>
#cart-icon{
	height: 60px;
	width: 60px;
	background-color: #424242;
	border-radius: 100px;
	padding: 10px;
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#cart-icon-img{
	background-image: url('../../public/cart.svg');	
	height: 40px;
	width: 40px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	top: 25%;
    left: 27%;
	position: absolute;
	filter: invert(100%);
}

#cantidad-productos{
	position: relative;
    top: 80%;
    background-color: #FF9900;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    left: 60%;
    text-align: center;
    line-height: 25px;
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.carrito {
	position: fixed;
    bottom: 4%;
    right: 12%;
	cursor: pointer;
}

</style>