<template>
	<div class="carrito">
		<h2>Carrito de compras</h2>
		<p>Cantidad de productos: {{ cantidad }}</p>
		<p>Valor total: {{ valor }}</p>
	</div>
</template>
  
<script>
export default {
	props: {
		cantidad: {
			type: Number,
			required: true
		},
		valor: {
			type: Number,
			required: true
		}
	}
};
</script>
  
<style scoped>
.carrito {
	margin-bottom: 20px;
}
</style>