<template>
	<div class="detalle-carrito">
		
		<table id="tabla-carrito">
			<tr>
				<th class="nombre">Nombre</th>
				<th class="valor">Cantidad</th>
				<th class="valor">Valor</th>
			</tr>
			<tr v-for="producto in productos">
				<td>{{ producto.nombre }}</td>
				<td class="valores"> {{ producto.cantidad }}</td>
				<td class="valores"><strong>$ {{ producto.valor }}</strong></td>
			</tr>
		</table>
		<div class="total">
			TOTAL $ {{ gasto_total }}
		</div>
		<a class='btn' href="#" @click="vaciar_carrito($event)"> Vaciar carrito </a>
	</div>
</template>

<script>
export default {
	props: {
		productos: {
			type: Array
		},
		gasto_total: {
			type: Number
		},
	},
	methods: {
		vaciar_carrito(event) {
			event.preventDefault();
			this.$emit('vaciar-carrito');
		},
	},
};
</script>

<style scoped>
	.detalle-carrito{
		width: 60%;
		margin: auto;
	}
	
	#tabla-carrito{
		width: 100%;
		text-align: left;
		
	}

	tr{
		height: 30px;
	}

	th{
		padding: 4px;
	}

	.nombre, .valor{
		border-radius: 15px;
		background-color: #FF9900;
		color: white;
		font-weight: bold;
		padding-left: 20px;
	}
	
	.valores{
		text-align: right;
	}

	.btn{
		width: 100%;
		display: inline-block;
		background-color: #FF9900;
		color: white;
		font-weight: bold;
		text-align: center;
		height: 30px;
		line-height: 30px;
		text-decoration: none!important;
		border-radius: 15px;
		transition: transform 1s;
		box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}

	.btn:hover{
		transform: scale(1.02);
	}

	.total{
		width: 50%;
		background-color: #FF9900;
		padding: 5px;
		border-radius: 15px;
		margin: 20px 0px;
		float: right;
		color: white;
		font-weight: bold;
		text-align: center;
		padding-left: 18px;
	}

</style>