<template>
	<div class="formulario-login">
		<h4>Ingresar:</h4>
		<vue-form :state="formstate" @submit.prevent="on_submit">
			<div class="contenedor-input">
				<validate tag="label">
					<label for="email-login">Email:</label>
					<input type="email" name="email-login" id="email-login" v-model='email_login' value='' required>
					<field-messages name="email-login" show="$touched">
						<div class='alert' slot="required"> El campo email es requerido.</div>
						<div class='alert' slot="email"> Debe ingresar un email valido.</div>
					</field-messages>
				</validate>
			</div>
			<div class="contenedor-input">
				<validate tag="label">
					<label for="password-login">Contraseña:</label>
					<input type="password" name="password-login" id="password-login" v-model='password_login' value='' required>
					<field-messages name="password-login" show="$touched">
						<div class='alert' slot="required"> El campo password es requerido.</div>
					</field-messages>
				</validate>
			</div>
			<button type='submit' class='btn' href="#">INGRESAR</button>	
			<div class="alert">
				{{ alerta_formulario }}
			</div>
		</vue-form>
	</div>
</template>

<script>
export default {
	props: {
		cantidad: {
			type: Number
		}
	},
	data() {
		return {
			email_login: '',
			password_login: '',
			formstate: {},
			alerta_formulario: ''
		}
	},
	methods: {
		on_submit() {
			this.alerta_formulario = '';
			if (this.formstate.$valid) {
				if (this.email_login === 'neg90@hotmail.com' && this.password_login === 'NelsonG'){
					this.email_login = '';
					this.password_login = '';
					this.formstate['email-login'].$touched = false;
					this.formstate['password-login'].$touched = false;
					window.scroll(0, 0);
					return;
				}
			}
			this.alerta_formulario = 'Usuario/contraseña incorrecto.'
		}
	}
};
</script>

<style scoped>

h4{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.login{
	display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
	margin: 20px 0px;
}

label{
	display: inline-block;
	width: 100%;
	margin: 5px 0px;
}

.contenedor-input{
	width: 100%;
	margin: 20px 0px;
}

input{
	border-radius: 15px;
	border: 0px;
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	outline: none;
	padding-left: 15px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	width: 100%;
	box-sizing: border-box;
}
.formulario-login{
	width: 40%;
	margin: 20px 0px;
}

.btn{
	cursor: pointer;
	border: 0px;
	width: 100%;
	display: inline-block;
	background-color: #FF9900;
	color: white;
	font-weight: bold;
	text-align: center;
	height: 30px;
	line-height: 30px;
	text-decoration: none!important;
	border-radius: 15px;
	transition: transform 1s;
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn:active{
	transform: scale(1.02);
}

.alert{
	margin: 5px 0px;
	font-size: 0.8rem;
	color: red;
	font-weight: bold;
}
</style>