<template>
	<div class="producto">
		<h2>{{ nombre }}</h2>
		<p>{{ descripcion }}</p>
		<p>Valor: {{ valor }}</p>
		<img :src="imagen" alt="Imagen del producto" />
		<br>
		<a class='agregar-carrito' href="#" @click="agregar_carrito($event)">Agregar al carrito</a>
	</div>
</template>

<script>
export default {
	props: {
		nombre: {
			type: String
		},
		descripcion: {
			type: String
		},
		valor: {
			type: Number
		},
		imagen: {
			type: String
		},
	},
	data() {
		return {
			producto: {
				nombre: this.nombre,
				descripcion: this.descripcion,
				valor: this.valor,
				imagen: this.imagen
			}
		};
	},
	methods: {
		agregar_carrito(event) {
			event.preventDefault();
			this.$emit('agregar-carrito', this.producto);
		}
	}
};
</script>

<style scoped>
.producto {
	border-bottom: 3px solid #FF9900;
	border-radius: 15px;
	padding: 15px;
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	margin: 20px 0px;
	cursor: pointer;
	background-color: white;
	
}

img{
	border-radius: 15px;
}

.agregar-carrito{
	width: 100%;
	display: inline-block;
	background-color: #FF9900;
	color: white;
	font-weight: bold;
	text-align: center;
	height: 30px;
	line-height: 30px;
	text-decoration: none!important;
	border-radius: 15px;
	transition: transform .3s;
}

.agregar-carrito:hover{
	transform: scale(1.02);
}

</style>