<template>
	<div class="formulario-registro">
		<h4>Registrarse:</h4>
		<p>Para generar una nueva cuenta, ingrese correo electrónico y contraseña, enviaremos un correo con un token para
			validar la cuenta y activarla..</p>
		<vue-form :state="formstate" @submit.prevent="on_submit">
			<div class="contenedor-input">
				<validate tag="label">
					<label for="email-register">Email:</label>
					<input type="email" name="email-register" id="email-register" required v-model="email_register">
					<field-messages name="email-register" show="$touched">
						<div class='alert' slot="required"> El campo email es requerido.</div>
						<div class='alert' slot="email"> Debe ingresar un email valido.</div>
					</field-messages>
				</validate>
			</div>
			<div class="contenedor-input">
				<validate tag="label">
					<label for="password-register">Contraseña:</label>
					<input type="password" name="password-register" id="password-register" required v-model="password_register">
					<field-messages name="password-register" show="$touched">
						<div class='alert' slot="required"> El campo contraseña es requerido.</div>
					</field-messages>
				</validate>
			</div>
			<div class="contenedor-input">
				<validate tag="label" :custom="{ 'comprobar-contraseña': comprobar_contraseña }">
					<label for="repeat-password-register">Repetir contraseña:</label>
					<input type="password" name="repeat-password-register" id="repeat-password-register" required v-model="repeat_password_register">
					<field-messages name="repeat-password-register" show="$touched">
						<div class='alert' slot="comprobar-contraseña">Las contraseñas deben coincidir.</div>
						<div class='alert' slot="required"> El campo contraseña es requerido.</div>
					</field-messages>
				</validate>
				
			</div>
			<button type='submit' class='btn' href="#">REGISTRARSE</button>
			<div class='alert'> {{ alerta_formulario }}</div>
		</vue-form>
	</div>
</template>

<script>
export default {
	props: {
		cantidad: {
			type: Number
		}
	},
	data() {
		return {
			email_register: '',
			password_register: '',
			repeat_password_register: '',
			formstate: {},
			alerta_formulario: ''
		}
	},
	methods: {
		on_submit() {
			this.alerta_formulario = '';
			if (this.formstate.$valid) {
				this.email_register = '';
				this.password_register = '';
				this.repeat_password_register = '';
				this.formstate['email-register'].$touched = false;
				this.formstate['password-register'].$touched = false;
				this.formstate['repeat-password-register'].$touched = false;
				window.scroll(0, 0);
				return;
			}
			this.alerta_formulario = 'Debe completar todos los campos marcados con *.'
		},
		comprobar_contraseña(valor) {
			if (valor === this.password_register){
				return true;
			}
			return false;
		}
	}
};
</script>

<style scoped>
h4 {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

label {
	display: inline-block;
	width: 100%;
	margin: 5px 0px;
}

.contenedor-input {
	width: 100%;
	margin: 20px 0px;
}

input {
	border-radius: 15px;
	border: 0px;
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	outline: none;
	padding-left: 15px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	width: 100%;
	box-sizing: border-box;
}

.formulario-registro {
	width: 40%;
	margin: 20px 0px;
}

.btn {
	cursor: pointer;
	border: 0px;
	width: 100%;
	display: inline-block;
	background-color: #FF9900;
	color: white;
	font-weight: bold;
	text-align: center;
	height: 30px;
	line-height: 30px;
	text-decoration: none !important;
	border-radius: 15px;
	transition: transform 1s;
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn:hover {
	transform: scale(1.02);
}

.alert{
	margin: 5px 0px;
	font-size: 0.8rem;
	color: red;
	font-weight: bold;
}
</style>