<template>
	<div id="app">
		<cart-component :cantidad="cantidad"/>
		<div class="bloque contenedor-productos">
			<div v-for="producto in productos">
			<product-component @agregar-carrito="agregar_carrito" :nombre="producto.nombre" :imagen="producto.imagen"
				:descripcion="producto.descripcion" :valor="producto.valor" />
			</div>
		</div>
		<div class="bloque contenedor-login">
			<login-component/>
		</div>
		<div class="bloque contenedor-registro">
			<register-component/>
		</div>
		<div class="bloque contenedor-cart-detail" id="detalle-carrito-anchor">
			<cart-detail-component :gasto_total="gasto_total" :productos="to_puchase" @vaciar-carrito="vaciar_carrito"/>
		</div>
	</div>
</template>

<script>
import ProductComponent from './components/ProductComponent.vue'
import LoginComponent from './components/LoginComponent.vue'
import RegisterComponent from './components/RegisterComponent.vue'
import CartComponent from './components/CartComponent.vue'
import CartDetailComponent from './components/CartDetailComponent.vue'
//#FF9900
//#424242
//#E9E9E9
export default {
	name: 'App',
	components: {
		ProductComponent,
		CartComponent,
		LoginComponent,
		RegisterComponent,
		CartDetailComponent
	},
	data() {
		return {
			productos: [],
			cantidad: 0,
			to_puchase: [],
			gasto_total: 0
		};
	},
	methods: {
		agregar_carrito(producto) {
			// Obtener los productos existentes del localStorage
			this.to_puchase = JSON.parse(localStorage.getItem('productos')) || [];

			// Crear un objeto con los datos del producto actual
			const nuevo_producto = {
				nombre: producto.nombre,
				descripcion: producto.descripcion,
				valor: producto.valor,
				imagen: producto.imagen,
				cantidad: 1
			};
			//Si lo encuentro le sumo 1
			let encontrado = this.to_puchase.find(element => element.nombre == producto.nombre);
			if (encontrado !== undefined){
				nuevo_producto.cantidad = encontrado.cantidad + 1;
				this.to_puchase.splice(encontrado, 1);
			}
			// Agregar el nuevo producto al arreglo de productos en el carrito
			this.to_puchase.push(nuevo_producto);
			this.cantidad = this.to_puchase.length;
			// Guardar el arreglo actualizado en el localStorage
			localStorage.setItem('productos', JSON.stringify(this.to_puchase));
			this.calcular_total();
		},
		obtener_productos(){
			fetch("./products.json")
				.then(response => response.json())
				.then(data => {
					this.productos = data;
				})
				.catch(error => {
					console.error("Error al obtener los productos:", error);
				});
		},
		iniciar_carrito() {
			this.to_puchase = JSON.parse(localStorage.getItem('productos'));
			if (this.to_puchase !== null){
				this.cantidad = this.to_puchase.length;
				return;
			}
			this.cantidad = 0;
		},
		calcular_total() {
			this.gasto_total = 0;
			this.to_puchase = JSON.parse(localStorage.getItem('productos'));
			if (this.to_puchase === null){
				this.gasto_total = 0;
				return;
			}
			this.to_puchase.forEach(element => {
				this.gasto_total = this.gasto_total + (element.valor * element.cantidad);
			});
		},
		vaciar_carrito() {
			this.cantidad = 0;
			localStorage.clear();
			this.to_puchase = [];
			this.gasto_total = 0;
		}
	},
	mounted() {
		this.iniciar_carrito();
		this.obtener_productos();
		this.calcular_total();
	},
}
</script>

<style>

	body{
		font-family: sans-serif;
	}

	#app {
		width: 80%;
		margin: auto;
		max-width: 1300px;
	}

	.bloque{
		padding: 15px;
		border-bottom: 3px solid #FF9900;
		background-color: #E9E9E9;
		min-height: 50px;
		border-radius: 15px;
		box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		margin: 20px 0px;
	}

	.contenedor-productos{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.contenedor-login{
		display: flex;
		justify-content: center;
	}

	.contenedor-registro{
		display: flex;
		justify-content: center;
	}

</style>
